<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>S no</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Total Tasks</th>
        <th>Completed Tasks</th>
        <th>Pending Tasks</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers; let i = index">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td>{{ user._id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.TotalTask ? user.TotalTask : "0" }}</td>
        <td>{{ user.completedTask ? user.completedTask : "0" }}</td>
        <td>{{ user.pendingTask ? user.pendingTask : "0" }}</td>
        <td>Status</td>
        <td>
          <div>
            <img class="editIcon"(click)="openEditUserModal(user._id)" src="https://cdn-icons-png.flaticon.com/128/10336/10336582.png" alt="Edit Icon">
          </div>
        </td>
        <td>
          <div>
            <img class="deleteIcon" (click)="openConfirmationModal(user._id)" src="https://cdn-icons-png.flaticon.com/128/9068/9068885.png" alt="Delete Icon">
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
  
  <!-- Confirmation Modal -->
  <app-confirmation-modal (actionConfirmed)="handleModalAction($event)"></app-confirmation-modal>
  <app-edit-user></app-edit-user>
</div>
